.ProjectTile {
  height: 18rem;
  width: 20rem;
  background: black;
  transform-style: preserve-3d;
  transform: perspective(1000px);
  border-radius: 0.75rem;
  overflow: hidden;
  position: relative;
  flex-shrink: 0;

  @media (min-width: 640px) {
    height: 20rem;
    width: 28rem;
  }

  @media (min-width: 768px) {
    height: 22rem;
    width: 32rem;
    border-radius: 1rem;
  }

  @media (min-width: 1024px) {
    height: 26rem;
    width: 38rem;
    border-radius: 1.25rem;
  }

  img {
    object-fit: contain;
  }
}

